@import "../../../Themes.scss";

.createThreadForm {
    margin: 10px;
    border-radius: 10px;
    padding: 5px;
}

.titleInputTitle {
    color: $primary-text-color;
}

.titleEditorContainer {
    margin: 10px;
}

.inputContainer {
    padding: 10px 15px 10px 15px;
    background-color: $classic-base-color;
    border-radius: 10px;
    margin-top: 5px;
}

.inputField {
    background-color: $classic-base-color;
    border: none;
    width: 95%;
    caret-color: $primary-text-color;
    color: $primary-text-color;
}

.communityInputContainer {
    @extend .inputContainer;
    width: 25%;
}
.communityInputField {
    @extend .inputField;
    width: 200px;
}
.communityInputField:focus {
    outline: none;
}

.bodyInputTitle {
    margin: 10px 0 10px 10px;
    color: $primary-text-color;
}

.bodyEditorContainer
{
    min-height: 200px;
}

.bodyEditorContainer .ProseMirror
{
    background-color: $classic-base-color;
}


.threadBodyEditor {
    background-color:  $classic-base-color;
    margin: 10px;
    color: $white;
    border-radius: 10px;
    min-height: 200px;
}
.inputTitleOptional
{
    font-size: 14px;
    color:  darken($primary-text-color, 50%);
}

.createThreadButton {
    background-color: darken($ui-highlight-color, 2%);;
    color: $primary-text-color;
    padding: 14px 20px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer; 

    &:hover {
        background-color: $ui-highlight-color;
      }
}


.createThreadErrorString {
    color: darkred;
    margin: 10px;
}

.createThreadFormTitle {
    font-size: 25px;
    font-weight: bold;
    color: lightgray;
    margin: 0 10px 10px 10px;
}
