@import "./Themes.scss";

html {
  background: darken($ui-base-color, 7%);
  scrollbar-color: #313543 rgba(0,0,0,.1);
}

body {
  margin: 0;
  font-style: normal;
  font-family: "Segoe UI", Roboto, verdana, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
