@import "../../../Themes.scss";

.ProseMirror {
    margin: 10px;
    padding: 10px;
    color: $primary-text-color;
    > * + * {
      margin-top: 0.75em;
    }
  
    ul,
    ol {
      padding: 0 1rem;
    }
  
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      line-height: 1.1;
    }
  
    code {
      background-color: rgba($classic-secondary-color, 0.1);
      color: $secondary-text-color;
    }
  
    pre {
      background: $classic-base-color;
      color: $primary-text-color;
      font-family: 'JetBrainsMono', monospace;
      padding: 0.75rem 1rem;
      border-radius: 0.5rem;
  
      code {
        color: inherit;
        padding: 0;
        background: none;
        font-size: 0.8rem;
      }
    }
  
    img {
      max-width: 100%;
      height: auto;
    }
  
    blockquote {
      padding-left: 1rem;
      border-left: 2px solid rgba(#fff, 0.5);
    }
  
    hr {
      border: none;
      border-top: 2px solid rgba(#fff, 0.5);
      margin: 2rem 0;
    }
}

.textEditorButtons 
{
  margin: 5px;
}

.textEditorButtons > button
{
  @extend .button;
  font-size: 12px;
  margin: 2px 5px 2px 5px;
  padding: 5px;
  font-weight: normal;
}

.commentBox {
   
    border: 1px solid darken($ui-primary-color, 50%);
    
    & .ProseMirror {
        background-color: $white;
        color: $black;
    }

    .commentReplyBox > & {
        border: 1px solid darken($ui-primary-color, 30%);
    }
}