@import "../../../Themes.scss";

.commentCollapseContainer {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.commentCollapseButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.commentCollapseButton
{
    border-radius: 50%;
    border: 1px solid darken($ui-primary-color, 30%);
    height: 24px;
    width: 24px;
    min-height: 24px;
    min-width: 24px;
    margin-top: 30px;

    &::before {
        border-style: solid;
        border-width: 0.25em 0.25em 0 0;
        content: '';
        display: inline-block;
        height: 12px;
        transform: rotate(135deg);
        vertical-align: center;
        width: 12px;
        position: relative;
        color: darken($ui-primary-color, 30%);
        left: 4px;
    }

    .commentCollapseButtonContainer:hover & {
        border: 1px solid $ui-primary-color;
    }

    .commentCollapseButtonContainer:hover &::before {
        color: $ui-primary-color;
    }
}

.collapsed {
    transform: rotate(180deg);
}


.commentCollapseBar {
    height: 100%;
    margin: 0 20px 5px 20px;
    width: 1px;
    background-color: darken($ui-primary-color, 30%);

    .commentCollapseButtonContainer:hover & {
        background-color: $ui-primary-color;
    }
}

.commentContainer {
    background-color: $ui-base-color;
    margin: 20px 0 0 0px;
    padding: 5px 0 0 5px;
    border-radius: 5px;
    color: $passive-text-color;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.commentContainer .darkerContainer
{
    background-color: darken($ui-base-color, 3%);
}

.commentInfoBar {
    margin: 5px;
}
.commentUsername {
    color: orange;
}

.commentButton {
    @extend .button;
    margin: 10px;
}

.commentContent
{
    width: 100%;
}

.nodisp {
    display: none;
}

.commentBody .ProseMirror
{
    padding: 0;
    min-height: 0;
}

.commentVoteInfoAndBodyContainer {
    display: flex;
    flex-direction: row;

    & .voteBox {
        margin: 5px;
    }
}


.commentInfoAndBodyContainer {
    display: flex;
    flex-direction: column;
}