@import "../../../Themes.scss";

.mainSidebarContainer {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebarHeader {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 80%;
    background-color: $classic-base-color;
    padding: 20px;
    border-radius: 20px;
}

.sidebarCommunityTitle {
    font-size: 18px;
    color: lightgray;
    margin-bottom: 5px;
    text-align: center;
}

.communityTitle {
    font-weight: bold;
}

.sidebarButtonLink {
    width: 100%;
}

.sidebarButton {
    @extend .button;
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

.creationButtons {
    display: flex;
    
}

